*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #e6e6e6;
    padding: 5% 15%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.section-name {
    display: none;
    font-size: 2em;
    font-weight: 500;
    color: #343434;
    margin-top: 1em;
    position: relative;
}

.section-name::after {
    content: "";
    background-color: #de022b;
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 5px;
    transition: width 2s ease, left 2s ease;
    transform: translateX(-50%);
    transition-duration: 1s;
}

.section-name:hover {
    font-weight: 600;
    cursor: pointer;
}

.section-name:hover::after {
    width: 120%;
    left: 50%;
    transition-duration: 2s;
}

.section-name.active {
    font-weight: 600;
}

.section-name.active::after {
    width: 120%;
    left: 50%;
}

#second-section {
    transition: margin-top 1s ease;
}

#send-form {
    width: 70%;
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
}

.upload-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

.uploads {
    display: flex;
    width: 100%;
}

.upload-label {
    width: 90%;
    display: inline-block;
    background-color: white;
    padding: 15px 30px;
    border-radius: 25px;
    border-top: 2px solid black;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.upload-label::before {
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 6px);
    background: black;
    border-radius: 25px;
    top: 2px;
    left: -2px;
    z-index: -1;
}

.upload-label:hover {
    top: 2px;
}

input[type="file"] {
    display: none;
}

#button-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

#add-project {
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    justify-self: center;
    padding: 0;
    margin: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background-color: #de022b;
    color: white;
    border-radius: 10px;
}

#add-project:hover {
    top: 2px;
}

.tooltip-bubble {
    position: absolute;
    background-color: #666666;
    color: white;
    text-align: center;
    padding: 0.5em;
    border-radius: 5%;
    width: 16em;
    display: none;
}

.tooltip-bubble::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    background-color: #666666;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.next-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2.5em;
    position: relative;
    margin: 0 1em 0 0;
    padding: 0;
    transition: transform 0.7s ease, border-bottom 0.7s ease;
    display: flex;
    align-items: center;
    border-bottom: 5px solid transparent;
}

.next-button::before {
    position: absolute;
    content: "Envoyer";
    height: 1.8em;
    left: -4em;
    top: 1em;
    font-size: 0.7em;
    font-style: italic;
    opacity: 0;
    color: #343434;
    transform: translateX(-10px, 1em);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.next-button::after {
    content: "➜";
    font-size: 1.5em;
    color: #343434;
    font-weight: 500;
    position: relative;
}

.next-button:hover {
    transform: translateX(1em);
    border-bottom: 5px solid #de022b;
}

.next-button:hover::before {
    opacity: 1;
    transform: translateX(0, 1em);
}

.next-button:hover::after {
    font-weight: 600;
}

.del-project {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 3em;
    margin-left: 1rem;
    padding: 0;
    height: 1em;
    width: 2rem;
    font-style: italic;
    opacity: 0.5;
    transition: opacity 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 5px solid transparent;
}

.del-project:hover {
    opacity: 1;
    border-bottom: 5px solid #de022b;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 2em;
    border-radius: 12px;
    text-align: center;
}

.popup-content button {
    position: relative;
    background-color: #de022b;
    color: white;
    padding: 1em 1.5em;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    margin: 0 1em;
}

.popup-content button:hover {
    top: 2px;
}

#status {
    display: none;
    flex-direction: column;
    gap: 1em;
}

#project-count {
    font-size: 1.2em;
    font-weight: bold;
    color: #343434;
}

#progress-ctn {
    display: none;
    align-items: center;
    position: relative;
    gap: 1em;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.circle {
    width: 40px;
    height: 40px;
    border: 3px solid #aaa;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #343434;
    transition: background-color 0.5s, border-color 0.5s;
}

.current .circle {
    border-color: #de022b;
    background-color: #de022b;
    color: white;
}

.line {
    height: 3px;
    width: 50px;
    background-color: #aaa;
    transition: background-color 0.5s;
}

.error-message {
    display: none;
    color: red;
    font-weight: bold;
    margin: 0;
}

#error-element {
    display: none;
    max-width: 70%;
    font-weight: bold;
    font-style: italic;
    align-self: center;
    border: 2px solid #de022b;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f8d7da;
    border-spacing: 0;
    border-collapse: collapse;
}

#error-title {
    height: 2em;
    width: 100%;
    table-layout: fixed;
    color: white;
    background-color: #de022b;
}

#error-title td {
    text-align: left;
    padding: 0 1em;
}

#close-error-btn {
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    transition: font-weight 0.3s ease;
}

#close-error-btn:hover {
    font-weight: bold;
    font-size: 1.1em;
}

#system-error td {
    padding: 1em;
}

#response-container {
    width: 100%;
    display: none;
    background-color: #e6e6e6;
}

#menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-width: fit-content;
    border-right: 1px solid #e6e6e6;
    overflow-y: auto;
    scroll-behavior: smooth;
}

#menu::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

#menu:hover::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 6px;
}

#menu::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 6px;
    transition: background-color 0.5s;
}

#menu::-webkit-scrollbar-track {
    background: transparent;
}

.menu-item {
    padding: 1em 3em 1em 1em;
    font-size: 1.2em;
    cursor: pointer;
    border-bottom: 1px solid black;
    white-space: nowrap;
}

.menu-item:hover {
    font-weight: bolder;
}

.selected {
    border-bottom: 5px solid #de022b;
    font-weight: bolder;
}

#response {
    margin: 0;
    height: max-content;
    padding: 0 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2em;
}

#bullet-points {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
}

.response-column {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 45%;
}

.response-item {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
    padding: 0.5em 1em;
    border: 1px solid black;
    border-radius: 5px;
}

.response-item input[type="checkbox"] {
    appearance: none;
    width: 2em;
    height: 2em;
    border-radius: 4px;
    border: 2px solid rgb(130, 130, 130);
    background-color: white;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
}

.response-item input[type="checkbox"]:checked::before {
    content: "✔";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.75em;
    font-weight: bolder;
    color: #de022b;
}

#bullet-points {
    text-align: justify;
}

#bullet-points h2 {
    text-align: center;
}

#msg-waiting {
    display: none;
    font-size: 1.5em;
    font-weight: 500;
    font-style: italic;
    color: #343434;
}

#summary {
    width: 80%;
    gap: 2em;
    display: none;
}