body {
    background-color: #e6e6e6;
    padding: 5% 15%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

h1 {
    font-size: 4em;
    color: #343434;
}

.section-name {
    font-size: 2em;
    font-weight: 500;
    color: #343434;
    margin-top: 1em;
    position: relative;
}

.section-name::after {
    content: "";
    background-color: #de022b;
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 5px;
    transition: width 2s ease, left 2s ease;
    transform: translateX(-50%);
    transition-duration: 1s;
}

.section-name:hover {
    font-weight: 600;
    cursor: pointer;
}

.section-name:hover::after {
    width: 120%;
    left: 50%;
    transition-duration: 2s;
}

.section-name.active {
    font-weight: 600;
}

.section-name.active::after {
    width: 120%;
    left: 50%;
}

#description {
    width: 70%;
    margin-bottom: 1em;
}

#description, #teacher-documents {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
}

#second-section {
    transition: margin-top 1s ease;
}

.tooltip {
    vertical-align: super;
    font-size: smaller;
    color: #007bff;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.tooltip-text {
    visibility: hidden;
    background-color: #666666;
    color: white;
    text-align: center;
    padding: 0.5em 0.5em;
    width: 16em;
    border-radius: 5%;
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8em;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

#send-form {
    width: 70%;
}

.upload-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

.uploads {
    display: flex;
    width: 100%;
}

.upload-label {
    width: 90%;
    display: inline-block;
    background-color: white;
    padding: 15px 30px;
    border-radius: 25px;
    border-top: 2px solid black;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    position: relative;
}

.upload-label::before {
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 6px);
    background: black;
    border-radius: 25px;
    top: 2px;
    left: -2px;
    z-index: -1;
}

.upload-label:hover {
    top: 2px;
}

input[type="file"] {
    display: none;
}

.next-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2.5em;
    position: relative;
    margin: 0 1em 0 0;
    padding: 0;
    align-self: flex-end;
    transition: transform 0.7s ease, border-bottom 0.7s ease;
    display: flex;
    align-items: center;
    border-bottom: 5px solid transparent;
}

.next-button::before {
    position: absolute;
    height: 1.8em;
    left: -4em;
    top: 1em;
    font-size: 0.7em;
    font-style: italic;
    opacity: 0;
    color: #343434;
    transform: translateX(-10px, 1em);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#suivant::before {
    content: "Suivant";
}

#envoyer::before {
    content: "Envoyer";
}

.next-button::after {
    content: "➜";
    font-size: 1.5em;
    color: #343434;
    font-weight: 500;
    position: relative;
}

.next-button:hover {
    transform: translateX(1em);
    border-bottom: 5px solid #de022b;
}

.next-button:hover::before {
    opacity: 1;
    transform: translateX(0, 1em);
}

.next-button:hover::after {
    font-weight: 600;
}

#button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.prev-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2.5em;
    position: relative;
    margin: 0 0 0 1em;
    padding: 0;
    transition: transform 0.7s ease, border-bottom 0.7s ease;
    display: flex;
    align-items: center;
    border-bottom: 5px solid transparent;
}

.prev-button::before {
    content: "Précédent";
    position: absolute;
    height: 1.8em;
    right: -5em;
    top: 1em;
    font-size: 0.7em;
    font-style: italic;
    opacity: 0;
    color: #343434;
    transform: translateX(-10px, 1em);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.prev-button::after {
    content: "➜";
    transform: scaleX(-1);
    font-size: 1.5em;
    color: #343434;
    font-weight: 500;
    position: relative;
}

.prev-button:hover {
    transform: translateX(-1em);
    border-bottom: 5px solid #de022b;
}

.prev-button:hover::before {
    opacity: 1;
    transform: translateX(0, 1em);
}

.prev-button:hover::after {
    font-weight: 600;
}

#add-project {
    cursor: pointer;
    width: 1.5em;
    height: 1.5em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 0;
    margin: 0;
    position: relative;
    border: none;
    background-color: #de022b;
    color: white;
    border-radius: 10px;
}

#add-project:hover {
    top: 2px;
}

#add-project .tooltip-text {
    visibility: hidden;
    background-color: #343434;
    opacity: 0.8;
    color: white;
    width: fit-content;
    white-space: nowrap;
    font-style: italic;
    top: 110%;
    left: 100%;
    font-size: 1rem;
}

#add-project:hover .tooltip-text {
    visibility: visible;
}

#student-documents {
    display: none;
}

.del-project {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 3em;
    margin-left: 1rem;
    padding: 0;
    height: 1em;
    width: 2rem;
    font-style: italic;
    opacity: 0.5;
    transition: opacity 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 5px solid transparent;
}

.del-project:hover {
    opacity: 1;
    border-bottom: 5px solid #de022b;
}

.error-message {
    display: none;
    color: red;
    font-weight: bold;
    margin: 0;
}

#waiting-ctn {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
}

#waiting-ctn p {
    margin: 0;
}

#waiting-bar {
    height: 2em;
    width: 30%;
    border-radius: 20px;
    border: none;
    overflow: hidden;
}

#waiting-bar::-webkit-progress-bar {
    background-color: #d6d6d6;
    border-radius: 20px;
}

#waiting-bar::-webkit-progress-value {
    background-color: #de022b;
    border-radius: 10px;
}

#waiting-bar::-moz-progress-bar {
    background-color: #de022b;
    border-radius: 10px;
}

#error-element {
    display: none;
    width: 40%;
    font-weight: bold;
    font-style: italic;
    align-self: center;
    border: 2px solid #de022b;
    border-spacing: 0;
    border-collapse: collapse;
}

#error-title {
    height: 2em;
    width: 100%;
    table-layout: fixed;
    color: white;
    background-color: #de022b;
}

#error-title td {
    text-align: left;
    padding: 0 1em;
}

#close-error-btn {
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
}

#close-error-btn:hover {
    font-weight: bold;
}

#system-error td {
    padding: 1em;
}